.checkEmailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--gray-a2);

  .cardContainer {
    max-width: 400px;
    padding: 1rem;
  }

  .card {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}
