@import "modern-css-reset";
@import "@radix-ui/themes/styles.css";

/* Light Theme */
html.light {
  --bg-color: var(--color-light-background);
  --text-color: var(--color-light-foreground);
  --tickrpal-bg: var(--gray-2); /* Radix gray for light backgrounds */
  --tickrpal-bg-nav: var(--gray-1); /* Slightly lighter gray */
  --tickrpal-border: var(--gray-6); /* Border color */
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dark Theme */
html.dark {
  --bg-color: var(--color-dark-background);
  --text-color: var(--color-dark-foreground);
  --tickrpal-bg: inherit; /* Radix gray for dark backgrounds */
  --tickrpal-bg-nav: inherit; /* Slightly lighter gray for dark mode */
  --tickrpal-border: var(--gray-6); /* Dark border color */
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Smooth transitions */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
