@import "@radix-ui/themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light Theme */
html.light {
  --bg-color: var(--color-light-background);
  --text-color: var(--color-light-foreground);
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dark Theme */
html.dark {
  --bg-color: var(--color-dark-background);
  --text-color: var(--color-dark-foreground);
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Smooth transitions */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
