/* Styles for the Header component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 48px;
  box-shadow: 0 1px var(--gray-a4);
}

.headerTitle {
  font-size: 1.25rem; /* Equivalent to text-xl */
  font-weight: bold;
}
