.logo {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit; // Inherit the color from parent
  display: inline-flex; // Make sure it aligns nicely
  align-items: center;
  font-weight: 600;
}

.heading {
  margin: 0;
}
